body {
  background: #ccc;
}

#title,
.subtitle,
.posttitle {
  color: blue;
}

.posttitle {
  font-size: 16px;
  font-style: italic;
}

.post {
  background: #fff;
  padding: 10px;
  border: 3px solid #000;
  margin: 10px;
}
